
.pricing {
  position: relative;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
  padding: 30px 20px;
}
.pricing.box {
  background-color: #fafafa;
}
.pricing.box.featured {
  background-color: #4611a7;
  color: #fff;
}
.pricing.box.featured ul li.available, .pricing.box.featured ul li.not-available, .pricing.box.featured ul li {
  color: #fff;
  border-bottom-color: rgba(255, 255, 255, 0.2);
}
.pricing.featured:not(.box) figure {
  background-color: #4611a7;
  color: #fff;
}
.pricing.description {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  text-align: left;
  padding-left: 0;
}
.pricing h2 {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  color: inherit;
  font-size: 30px;
  font-weight: lighter;
}
.pricing figure {
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #fff;
  width: 75px;
  height: 75px;
  position: absolute;
  top: 5px;
  right: -10px;
  text-align: center;
  line-height: 75px;
  color: #4611a7;
  font-size: 18px;
  font-weight: bold;
}
.pricing ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 20px;
  margin-top: 20px;
}
.pricing ul li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 55px;
}
.pricing ul li:last-child {
  border-bottom: none;
}
.pricing ul li.available {
  color: #4611a7;
}
.pricing ul li.not-available {
  color: rgba(0, 0, 0, 0.5);
}
.pricing ul li i {
  font-size: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .pricing h2 {
      font-size: 20px;
    }
    .pricing figure {
      top: -35px;
    }
}
